<div ng-controller="test">
    <div tree-form url="url">
        asdasd<br>
        asdasd<br>
        asdasd<br>
        asdasd<br> asdasd<br>
        asdasd<br>
        asdasd<br>
        asdasd<br> asdasd<br>
        asdasd<br>
        asdasd<br>
        asdasd<br> asdasd<br>
        <button class="layui-btn layui-btn-primary" type="button" ng-click="delNode();">删除节点</button>
        <button class="layui-btn layui-btn-primary" type="button" ng-click="restoreNode();">还原移动</button>
        <form class="layui-form" action="">
            <div area-select type="form" deep="3" provinces="provinces" cities="cities" counties="counties" towns="towns"></div>
        </form>
    </div>
</div>