<div ng-controller="test">
    <div tree-form url="url">
        asdasd<br>
        asdasd<br>
        asdasd<br>
        asdasd<br> asdasd<br>
        asdasd<br>
        asdasd<br>
        asdasd<br> asdasd<br>
        asdasd<br>
        asdasd<br>
        asdasd<br> asdasd<br>
        asdasd<br>
        asdasd<br>
        asdasd<br> asdasd<br>
        asdasd<br>
        asdasd<br>
        asdasd<br> asdasd<br>
        <button class="layui-btn layui-btn-primary" type="button" ng-click="delNode();">删除节点</button>
        <button class="layui-btn layui-btn-primary" type="button" ng-click="restoreNode();">还原移动</button>
    </div>
</div>